---
import "../styles/global.css";

import About from "../components/About.astro"
import Contact from "../components/Contact.astro"
import Footer from "../components/Footer.astro"
import Gallery from "../components/Gallery.astro"
import Landing from "../components/Landing.astro"
import NavBar from "../components/NavBar.astro"
import Services from "../components/Services.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/j-furniture/square-logo.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>J Furniture</title>
	</head>
	<body>
		<NavBar />

		<Landing />
		<Services />
		<Gallery />
		<About />
		<Contact />
		 
		<Footer />
	</body>
</html>
