---

---

<section id="about">
    <h2 class="text-4xl font-bold">Meet the Owner</h2>
    
    <div>
        <p><span class="font-semibold">Languages</span> English, Spanish</p>

        <p>
            <span class="font-semibold">Available for work in:</span>
            NYC, New Jersey, Pennsylvania
        </p>

        <p>
            <span class="font-semibold">Experience:</span>
            15 years at Morano's Furniture
        </p>
    </div>
</section>
