---

---

<section id="contact">
    <h2 class="text-4xl font-bold">Contact</h2>

    <ul class="space-y-2">
        <li><span class="font-semibold">Phone:</span> 347-294-6026</li>
        <li><span class="font-semibold">Email:</span> jvfurniture86@gmail.com</li>
        <li><span class="font-semibold">Location:</span> New York City</li>
        <li>
            <span class="font-semibold">Facebook:</span>
            <a href="https://www.facebook.com/profile.php?id=61580620221342" target="_blank" class="text-blue-600 hover:underline">
                JV Furniture
            </a>
        </li>
    </ul>
</section>
