---
// Use Astro's base URL (so links work locally and when deployed)
const base = import.meta.env.BASE_URL ?? '/';

// const year = new Date().getFullYear();
const year: number = (new globalThis.Date()).getFullYear();
---

<footer class="my-12">
    <div class="text-center">
        <p>© {year} <a href={base} class="text-blue-600 hover:underline">J Furniture</a>. All rights reserved</p>
    </div>
</footer>
